version: '3'

services:

  zammad:
    depends_on:
      - zammad-elasticsearch
      - zammad-postgresql
    image: zammad/zammad-docker-compose:zammad
    labels:
      io.rancher.container.pull_image: always
      io.rancher.container.start_once: 'true'
    restart: on-failure
    volumes:
      - data-zammad:/home/zammad

  zammad-elasticsearch:
    image: zammad/zammad-docker-compose:zammad-elasticsearch
    labels:
      io.rancher.container.pull_image: always
    restart: always

  zammad-nginx:
    depends_on:
      - zammad
    image: zammad/zammad-docker-compose:zammad-nginx
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-railsserver
      - zammad-websocket
    ports:
      - "80:80"
    restart: always
    volumes:
      - data-zammad:/home/zammad

  zammad-postgresql:
    image: zammad/zammad-docker-compose:zammad-postgresql
    labels:
      io.rancher.container.pull_image: always
    restart: always
    volumes:
      - postgres-zammad:/var/lib/postgresql/data

  zammad-railsserver:
    depends_on:
      - zammad
    image: zammad/zammad-docker-compose:zammad-railsserver
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-elasticsearch
      - zammad-postgresql
    depends_on:
      - zammad
    restart: always
    volumes:
      - data-zammad:/home/zammad

  zammad-scheduler:
    depends_on:
      - zammad
    image: zammad/zammad-docker-compose:zammad-scheduler
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-elasticsearch
      - zammad-postgresql
    restart: always
    volumes:
      - data-zammad:/home/zammad

  zammad-websocket:
    depends_on:
      - zammad
    image: zammad/zammad-docker-compose:zammad-websocket
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-postgresql
      - zammad
    restart: always
    volumes:
      - data-zammad:/home/zammad

volumes:
  data-zammad:
    driver: local
  postgres-zammad:
    driver: local
